@use "../../base/function" as *;
@use "button-theme" as *;
@use "button-schema" as *;
@use "../../theme" as *;

// Create custom button schemas
$custom-button-schema: extend($button-schema, (
  resting-text-color: (
    color: ('secondary', 400)
  ),

  hover-background: (
    color: ('primary', 300)
  ),

  hover-text-color: (
    contrast-color: ('primary', 500)
  ),

  focus-text-color: (
    color: ('secondary', 500)
  )
));

$flat-button-schema: extend($button-schema, (
  resting-background: transparent,

  resting-text-color: (
    color: ('gray', 800)
  ),

  hover-background: (
    color: ('gray', 100)
  ),

  focus-background: (
    color: ('gray', 200)
  )
));

// Create button styles
.themed-button {
  @include button($my-palette, $button-schema);
}

.firebrick-button {
  @include button($firebrick-palette, $custom-button-schema);
  grid-area: 1 / 2 / 2 / 2;
}

.royal-button {
  @include button($royal-palette, $flat-button-schema) {
    border: 1px solid color($my-palette, 'gray', 300);
  };
}

.buttons {
  display: grid;
  grid: repeat(2, auto) / auto-flow;
  grid-gap: 8px;
}
