@use "../base/function" as *;

// Define palettes
$my-palette: palette(
  $primary: #00265D,
  $secondary: seagreen
);

$royal-palette: palette(
  $primary: royalblue,
  $secondary: seagreen
);

$firebrick-palette: palette(
  $primary: firebrick,
  $secondary: orange
);
